@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    transition: 5000s ease-in-out 0s;
}

.link-constant {
    color: #F00;
}

.link-constant:hover,
.link-constant:focus {
    color: #F00;
    outline: none;
}
