@import "tailwindcss";

@theme {
    --color-primaryRed: #FC4747;
    --color-primaryDarkBlue: #10141E;
    --color-primaryGrey: #979797;
    --color-secondaryDarkBlue: #161D2F;
    --color-greyishBlue: #5A698F;
    --color-primaryWhite: #ffffff;
    --breakpoint-xs: 375px;
    --breakpoint-3xl: 2000px;
    --font-Inter: "Inter", sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    transition: 5000s ease-in-out 0s;
}

.link-constant {
    color: #F00;
}

.link-constant:hover,
.link-constant:focus {
    color: #F00;
    outline: none;
}

